SESSION_SECRET=

DATABASE_URL=postgresql+psycopg2://usuario:contrasena@localhost:5432/metrogest

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=MetroGest <contacto@metrogest.com.co>
EMAIL_DESTINATARIO=
